* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  /* font-family: "Noto Serif", serif; */
}

img {
  display: block;
}

/* Common Styles */

.common-dimensions {
  max-width: 79.166vw; /* Assuming device dimensions 1440 X 900 and calculating width and height accordingly*/
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}

li {
  list-style: none;
}

.section-heading {
  font-family: "Noto Serif", serif;
  color: rgba(0, 0, 0, 1);
  font-size: 3.125rem;
  font-weight: 700;
}

.orange-span {
  color: rgba(233, 90, 8, 1);
}

.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  font-weight: 600;
  padding: 2vh 5vw;
}

.bg-opacity {
  border-image-source: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  border-image-slice: fill 1;
}

/* Header Section Styles */

.header-container {
  margin-top: 3.33vh;
}

/* Nav bar Section Styles */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  color: rgba(137, 135, 161, 1);
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.33vw;
}

.menu {
  color: rgba(137, 135, 161, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.33vw;
}

.menu span {
  color: rgba(37, 36, 50, 1);
  font-weight: 700;
}

.shopping-cart span {
  color: rgba(0, 0, 0, 1);
}

/* Banner Section Styles */

.banner {
  max-width: 100%;
  margin-top: 13.33vh;
  padding-top: 11.78vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.banner-info {
  width: 50vw;
}

.banner-info h1 {
  font-family: "Noto Serif", serif;
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  font-weight: 700;
}

.banner-img {
  width: calc(100vw - 50vw);
}

.banner-img img {
  width: 100%;
}
/* Main Section Styles */

/* Our Plants Section Styles */

.our-plants-container {
  margin-top: 13.33vh;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 5.5vh;
  justify-content: center;
  align-items: center;
}

.our-plants-container p {
  max-inline-size: 62vw;
}

.our-plants {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2vw;
  row-gap: 2vw;
}

.our-plant {
  max-width: 100vw;
  color: rgba(17, 17, 17, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.our-plant-img {
  max-width: 100%;
}

.our-plant > .our-plant-img > img {
  width: 100%;
  object-fit: cover;
}

.our-plant h5 {
  font-size: 1.375rem;
  font-weight: 500;
}

.our-plant p {
  font-size: 1.375rem;
  font-weight: 700;
}

/* Flower Store Section Styles */

.flower-store-container {
  margin-top: 23vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.25vw;
}

.flower-store-img {
  position: relative;
}

.badge {
  width: 22vw;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.flower-store-info > ul {
  max-width: 100%;
  padding-left: 2vw;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.flower-store-info li {
  width: 100%;
  list-style: disc;
}

/* Latest Deals Section Styles */

.latest-deals-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

.latest-deals-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.latest-deals-info > p {
  text-align: center;
  max-inline-size: 80%;
}

.latest-deals {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.latest-deals-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  justify-content: space-between;
}

.latest-deal-bloom-container {
  max-width: 100%;
  height: 48%;
  border-radius: 14px;
  background: url("../assets/deal-bloom.png") no-repeat center;
  background-size: cover;
}

.latest-deal-bloom {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-bloom h3,
.latest-deal-ana h3 {
  font-family: "Noto Serif", serif;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

.latest-deal-bloom h4,
.latest-deal-ana h4 {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  color: white;
}

.latest-deal-ana-container {
  max-width: 100%;
  height: 48%;
  border-radius: 14px;
  background: url("../assets/deal-ana.png") no-repeat center;
  background-size: cover;
}

.latest-deal-ana {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-zabo-container {
  flex: 1;
  max-width: 65%;
  border-radius: 22px;
  background: url("../assets/deal-zabo.png") no-repeat center;
  background-size: cover;
}

.latest-deal-zabo {
  /* padding: 14% 10%; */
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-zabo h3 {
  margin-top: 20%;
  font-family: "Noto Serif", serif;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.latest-deal-zabo h4 {
  margin-bottom: 20%;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: underline;
  color: white;
}

/* Mobile Responsive Styles */

@media screen and (max-width: 767px) {
  body {
    font-size: 0.875rem;
  }
  .common-dimensions {
    max-width: 95vw;
    margin: 5vh 5vw;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .nav-bar img {
    width: 16vw;
  }

  .menu {
    display: none;
  }

  .banner {
    margin: 0 0;
    flex-direction: column-reverse;
  }

  .banner-info {
    margin-top: 5vh;
    width: 100%;
  }

  .banner-img {
    width: 100%;
  }

  .banner-img img {
    max-width: 100vw;
  }

  .banner-info h1 {
    font-size: 2rem;
  }

  .our-plants-container {
    margin-top: 10vh;
  }

  .our-plants-container p {
    max-inline-size: 80vw;
  }

  .our-plants {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-plant h5,
  .our-plant p {
    font-size: 1rem;
  }

  .flower-store-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5.25vw;
  }

  .flower-store-img {
    max-width: 100%;
  }

  .flower-store-img > img {
    width: 100%;
    object-fit: cover;
  }

  .badge {
    display: none;
  }

  .flower-store-info > ul {
    padding-left: 5vw;
  }

  .flower-store-img {
    width: 100%;
  }

  .flower-store-img img {
    width: 100%;
    object-fit: cover;
  }

  .latest-deals-container {
    gap: 10vh;
  }

  .latest-deals {
    flex-direction: column;
    gap: 4vh;
  }

  .latest-deals-left {
    width: 100%;
    gap: 4vh;
  }

  .latest-deal-bloom-container,
  .latest-deal-ana-container,
  .latest-deal-zabo-container {
    flex: 1;
    max-width: 100%;
    /* flex: 1; */
    /* padding: 20% 10%; */
  }

  .latest-deal-zabo-container {
    border-radius: 14px;
  }

  .latest-deal-bloom,
  .latest-deal-ana,
  .latest-deal-zabo {
    flex: 1;
    width: 100%;
    /* flex: 1; */
    /* padding: 20% 10%; */
  }

  .latest-deal-zabo {
    border-radius: 14px;
  }

  .latest-deal-bloom h3,
  .latest-deal-ana h3,
  .latest-deal-zabo h3 {
    font-family: "Noto Serif", serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .latest-deal-bloom h3,
  .latest-deal-ana h3 {
    margin-top: 20%;
  }

  .latest-deal-bloom h4,
  .latest-deal-ana h4,
  .latest-deal-zabo h4 {
    font-size: 1rem;
  }

  .latest-deal-bloom h4,
  .latest-deal-ana h4 {
    margin-bottom: 20%;
  }
}
